<!--SEARCH PAGE-->

<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ALA - Search</title>
    <link rel="icon" href="{% static 'img/ALA.png' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Bitter.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="{% static 'fonts/Roboto.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/Roboto%20Slab.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/all.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/awesome.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/ion.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/override.css' %}">
    <link rel="stylesheet" href="{% static 'css/background.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/Scroll-to-top-styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/rotate.css' %}">
    <link rel="stylesheet" href="{% static 'css/settings.css' %}">
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">
    <link rel="stylesheet" href="{% static 'css/tilt.css' %}">
    <link rel="stylesheet" href="{% static 'css/heroClean.css' %}">
</head>
<style>
.clearfix:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}
.clearfix {
    background-color: transparent;
}
</style>

<body style="backdrop-filter: blur(100px); background: transparent;">
    <nav class="navbar navbar-dark navbar-expand-md bg-dark py-3 sticky-top" id="navbar" style="box-shadow: 0px 0px 7px 5px;margin-bottom: 0px;">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon" style="background: transparent;"><img src="{% static 'img/ALA.png' %}" width="1002" height="1299" style="transform: scale(0.04);"></span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-5"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-5">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item"><a class="nav-link active" href="https://docs.google.com/forms/d/e/1FAIpQLScI2qK8F4UeqTo6UkwwDXtwweIDw0F9BQx3CegsrbhYvnionQ/viewform" target="_blank" data-tilt="data-tilt">Feedback</a></li>
                  <li class="nav-item"><a class="nav-link active" href="#aboutUs" data-tilt="data-tilt">About Us</a></li>
                </ul><a class="btn btn-outline-primary ms-md-2" role="button" href="/search" data-tilt="data-tilt">Try Now</a>
            </div>
        </div>
    </nav>
    <div>
        <div id="box-2" style="padding-top: 10vh; padding-bottom: 10vh"><img data-aos="fade" data-aos-duration="2500" data-aos-delay="700" src="{% static 'img/ALA.png' %}"  width="223" height="257" data-tilt="data-tilt">
            <h1 data-aos="fade" data-aos-duration="2000" data-aos-delay="700" id="heading1" style="padding-bottom: 25px;margin-bottom: 10px;">Automated Learning Assistant</h1>
            <div class="row searchBar" id="searchBar" style="margin-right: 0px;margin-left: 0px;">
                <div class="col-md-10 offset-md-1" style="margin-top: 84;">
                    <div class="card m-auto" style="max-width: 850px;border-top-left-radius: 800px;border-top-right-radius: 800px;border-bottom-right-radius: 800px;border-bottom-left-radius: 800px;">
                        <div class="card-body" style="padding: 0px;">
                            <form class="d-flex align-items-center" id="searchForm" method="get" action="/resultPage" name="submittedQuery" form="searchBar_Form">
                              <div class="dropdown" id="dropdown" style="border-radius: 800px;border-top-left-radius: 800px;border-top-right-radius: 0px;border-bottom-right-radius: 0px;border-bottom-left-radius: 800px;border-right-color: rgb(0,0,0);"><button class="btn btn-outline-primary btn-lg" aria-expanded="false" data-bs-toggle="dropdown" data-bs-auto-close="outside" id="settingButton" type="button" style="background: #ffffff;border-color: transparent;border-top-color: transparent;border-right-color: var(--bs-black);border-bottom-color: transparent;border-left-color: #FFFFFF;border-radius: 800px;border-top-left-radius: 800px;border-top-right-radius: 0px;border-bottom-right-radius: 0px;border-bottom-left-radius: 800px;"><i class="icon ion-android-settings" style="color: rgb(0,0,0);"></i></button>
                                  <div class="dropdown-menu" id="settingsBody" style="background: transparent;border-radius: 0px;border-color: transparent;border-bottom-width: 0px;border-bottom-color: transparent;">
                                      <div class="card" id="Card_Settings" style="position: static;">
                                          <div class="card-body" style="background: #FFFFFF; backdrop-filter: blur(0px);">
                                              <div class="row">
                                                  <div class="col-md-12" id="Settings_column2">
                                                      <div class="container d-flex flex-row justify-content-center align-items-start btn-group btn-group-toggle" data-bs-toggle="buttons"><label class="form-label btn btn-outline-primary" id="lightButton">Light<input type="radio" id="light" class="hideRadio" name="themes" value="lightTheme"></label><label class="form-label btn btn-outline-primary active" id="darkButton">Dark<input type="radio" id="dark" class="hideRadio" name="themes" value="darkTheme" checked=""></label></div>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-md-12" id="Settings_column3">
                                                      <div class="container">
                                                          <div class="row">
                                                              <div class="col d-flex d-sm-flex flex-row justify-content-center align-items-center justify-content-sm-center align-items-sm-center"><label class="col-form-label btn btn-outline-primary active" id="buttonroadMap" roadmap="roadmap">Roadmap</label></div>
                                                              <div class="col d-flex d-sm-flex flex-row justify-content-center align-items-center justify-content-sm-center align-items-sm-center"><label class="col-form-label btn btn-outline-primary active" id="buttonTilting" tilting="">Enable Tilting</label></div>
                                                              <div class="col-md-7 d-flex d-md-flex flex-row justify-content-center align-items-center justify-content-md-start align-items-md-center">
                                                                  <p class="d-md-flex justify-content-md-center align-items-md-center" style="margin-bottom: 0px;width: 138.1406px;"><span style="color: var(--bs-dropdown-link-color);"># of results:</span><br></p><input class="form-control d-md-flex justify-content-md-start" type="number" id="numResult" max="4" min="0" value="2">
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div><input class="form-control form-control-lg" type="search" id="searchText" name="query" style="border-top-left-radius: 0px;border-top-right-radius: 0px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;" maxlength="150" minlength="4"><button class="btn btn-primary btn-lg" id="searchButton" style="background: #ffffff;border-color: transparent;border-top-color: transparent;border-right-color: var(--bs-black);border-bottom-color: transparent;border-left-color: #FFFFFF;border-radius: 800px;border-top-left-radius: 0px;border-top-right-radius: 800px;border-bottom-right-radius: 800px;border-bottom-left-radius: 0px;" type="button"><i class="fas fa-search" style="color: rgb(0,0,0);"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="d-md-flex d-xl-flex d-xxl-flex flex-column justify-content-md-center justify-content-xl-center justify-content-xxl-center align-items-xxl-center clearfix" style="min-height:100vh;">
        <div class="card align-items-center align-items-sm-center" style="border-width: 0px;border-left-width: 0px;background: transparent;">
            <div name="body" id="bodyPurpose" class="card-body d-flex d-xxl-flex flex-column align-items-center align-items-sm-center align-items-lg-center justify-content-xxl-center align-items-xxl-center col-xl-5 col-md-12 contentText" style="background: #FFFFFF;border-top-width: 2px;border-top-left-radius: 16px;border-bottom-right-radius: 16px;border-top-right-radius: 16px;border-bottom-left-radius: 16px;margin-bottom: 5vh; margin-top: 5vh;width: 50vw;" data-tilt="data-tilt">
                <h3 name="title" id="productPurpose" class="textHeading" style="text-align: center; color: #000000;">What is the Purpose of this Project?</h3>
                <p name="text" id="productPurpose_Desc" style="text-align: center;width: 75%;color: #000000;">The Automated Learning Assistant Project (ALA) aims to assist users with learning and to get the answers they want. This project provides a simple explanation to your question, gives useful resources and links with a summary of it to your question, and even a to-do list to a solution for your question.<br></p>
            </div>
        </div>
        <div class="card align-items-center align-items-sm-center" style="border-width: 0px;border-left-width: 0px;background: transparent;">
            <div name="body" id="bodyDoc" class="card-body d-flex d-xxl-flex flex-column align-items-center align-items-sm-center align-items-lg-center justify-content-xxl-center align-items-xxl-center col-xl-5 col-md-12 contentText" style="background: #FFFFFF;border-top-width: 2px;border-top-left-radius: 16px;border-bottom-right-radius: 16px;border-top-right-radius: 16px;border-bottom-left-radius: 16px;margin-bottom: 5vh;width: 50vw;" data-tilt="data-tilt">
                <h3 name="title" id="productDoc" class="textHeading" style="text-align: center; color: #000000;">Product Documentation</h3>
                <p name="text" id="productDoc_Desc" style="text-align: center;width: 75%;color: #000000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Odio pellentesque diam volutpat commodo sed egestas egestas fringilla. Odio euismod lacinia at quis risus. Auctor eu augue ut lectus. Montes nascetur ridiculus mus mauris vitae ultricies leo. Cursus mattis molestie a iaculis at erat. Neque volutpat ac tincidunt vitae semper quis lectus. Nibh venenatis cras sed felis eget velit. Dolor purus non enim praesent elementum facilisis leo vel. Quam viverra orci sagittis eu. Non consectetur a erat nam.<br></p>
            </div>
        </div>
    </section>
    <a id="aboutUs" href="#"></a>
    <section class="card-section-imagia" style="background: transparent;">
        <h3 name="title" id="meetTeam" style="text-align: center;color: rgb(255,255,255);">Meet Our Team<br></h3>
        <div class="container">
            <div class="row" style="margin-right: 25px;margin-left: 25px;">
                <div class="col-sm-6 col-md-4">
                    <div class="card-container-imagia" data-tilt="data-tilt">
                        <div class="card-imagia">
                            <div name="body" id="bodyFront_1" style="background: #FFFFFF;" class="front-imagia">
                                <div class="cover-imagia"><img alt="" src="https://unsplash.it/720/500?image=1067"></div>
                                <div class="user-imagia"><img src="{% static 'img/Paul.png' %}"></div>
                                <div class="content-imagia">
                                    <h3 name="title" id="nameFront_1" style="color: #000000" class="name-imagia">Paul Li</h3>
                                    <p name="title" id="roleFront_1" style="color: #000000" class="subtitle-imagia">Frontend Developer</p>
                                    <p name="text" id="roleDescFront_1" style="color: #000000" class="text-center">Frontend: <em>Developer of the website, logo, UI/UX designs, deployment on railway, and playing a supporting role for the backend.</em></p>
                                </div>
                            </div>
                            <div name="body" id="bodyBack_1" style="background: #FFFFFF" class="back-imagia">
                                <div class="content-imagia content-back-imagia">
                                    <div class="cardText">
                                      <h3 name="title" id="titleBack_1" style="color: #000000" class="text-center">Biography</h3>
                                      <p name="text" id="descBack_1" style="color: #000000" class="text-center">Hi there! I'm Paul, a Senior at Westlake High School in Westlake Village, California. I'm planning on majoring in CS! Feel free to text or send me an email if you have any questions! Thanks!</p>
                                    </div>
                                </div>
                                <div class="footer-imagia">
                                    <div class="social-imagia text-center"><a href="https://github.com/PaulShiLi"><i class="fa fa-github"></i></a><a href="https://www.linkedin.com/in/paul-li-a73267225/"><i class="fa fa-linkedin"></i></a><a href="http://discordapp.com/users/556592668348645377"><i class="fab fa-discord"></i></a><a href="mailto:paul.shi.li.05@gmail.com"><i class="fa fa-envelope"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card-container-imagia" data-tilt="data-tilt">
                        <div class="card-imagia">
                            <div name="body" id="bodyFront_2" style="background: #FFFFFF" class="front-imagia">
                                <div class="cover-imagia cover-gradient"></div>
                                <div class="user-imagia"><img src="{% static 'img/Ayush.png' %}"></div>
                                <div class="content-imagia">
                                    <h3 name="title" id="nameFront_2" style="color: #000000" class="name-imagia">Ayush Shah</h3>
                                    <p name="title" id="roleFront_2" style="color: #000000" class="subtitle-imagia">Backend Developer</p>
                                    <p name="text" id="roleDescFront_2" style="color: #000000" class="text-center">Backend: <em>Tantum autem cuique tribuendum, primum quantum ipse efficere possis, deinde etiam quantum ille quem diligas atque adiuves. </em></p>
                                </div>
                            </div>
                            <div name="body" id="bodyBack_2" style="background: #FFFFFF" class="back-imagia">
                                <div class="content-imagia content-back-imagia">
                                    <div>
                                        <h3 name="title" id="titleBack_2" style="color: #000000" class="text-center">Biography</h3>
                                        <p name="text" id="descBack_2" style="color: #000000" class="text-center">Hey guys! I’m Ayush, a junior at Irvington High School in Fremont, CA. I usually keep my phone with me, so if you message me for something there is a good chance of getting a reply somewhat quickly.</p>
                                    </div>
                                </div>
                                <div class="footer-imagia">
                                    <div class="social-imagia text-center"><a href="https://github.com/Ayush1124"><i class="fa fa-github"></i></a><a href="#"><i class="fa fa-instagram"></i></a><a href="http://discordapp.com/users/714878580529823776"><i class="fab fa-discord"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card-container-imagia" data-tilt="data-tilt">
                        <div class="card-imagia">
                            <div name="body" id="bodyFront_3" style="background: #FFFFFF" class="front-imagia">
                              <div class="cover-imagia"><img alt="" src="https://unsplash.it/720/500?image=1067"></div>
                                <div class="user-imagia"><img src="{% static 'img/Sameer.png' %}"></div>
                                <div class="content-imagia">
                                    <h3 name="title" id="nameFront_3" style="color: #000000" class="name-imagia">Sameer Chawla</h3>
                                    <p name="title" id="roleFront_3" style="color: #000000" class="subtitle-imagia">Backend Developer</p>
                                    <p name="text" id="roleDescFront_3" style="color: #000000" class="text-center">Backend: <em>Links: grabbing links off of google, as well as their texts and then summarizing them, hosting: setting up dockerfiles for easy hosting</em></p>
                                </div>
                            </div>
                            <div name="body" id="bodyBack_3" style="background: #FFFFFF" class="back-imagia">
                                <div class="content-imagia content-back-imagia">
                                    <div>
                                        <h3 name="title" id="titleBack_3" style="color: #000000" class="text-center">Biography</h3>
                                        <p name="text" id="descBack_3" style="color: #000000" class="text-center">Hi! My name is Sameer and I am a Senior at Appleton East High School, Appleton, Wisconsin. I love to play chess and create and print 3d models in my free time!</p>
                                    </div>
                                </div>
                                <div class="footer-imagia">
                                    <div class="social-imagia text-center"><a href="https://github.com/pizzarocks147"><i class="fa fa-github"></i></a><a href="https://www.linkedin.com/in/sameer-chawla123"><i class="fa fa-linkedin"></i></a><a href="http://discordapp.com/users/668945314530721820"><i class="fab fa-discord"></i></a> <a href="mailto:chawlasameer01@gmail.com"><i class="fa fa-envelope"></i></a> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card-container-imagia" data-tilt="data-tilt">
                        <div class="card-imagia">
                            <div name="body" id="bodyFront_4" style="background: #FFFFFF" class="front-imagia">
                                <div class="cover-imagia cover-gradient"></div>
                                <div class="user-imagia"><img src="{% static 'img/Aryaman.png' %}"></div>
                                <div class="content-imagia">
                                    <h3 name="title" id="nameFront_4" style="color: #000000" class="name-imagia">Aryaman Gupta</h3>
                                    <p name="title" id="roleFront_4" style="color: #000000" class="subtitle-imagia">Product Manager</p>
                                    <p name="text" id="roleDescFront_4" style="color: #000000" class="text-center">Management: <em>Keep team on track to finish within time period, write product info, help frontend design and backend summarization, research to improve product</em></p>
                                </div>
                            </div>
                            <div name="body" id="bodyBack_4" style="background: #FFFFFF" class="back-imagia">
                                <div class="content-imagia content-back-imagia">
                                    <div>
                                        <h3 name="title" id="titleBack_4" style="color: #000000" class="text-center">Biography</h3>
                                        <p name="text" id="descBack_4" style="color: #000000" class="text-center">Hi, I’m Aryaman, a Sophomore at Branham High School. I’m interested in Technology and Programming and its applications in people’s day-to-day lives. In my spare time, I like to play video games, hang out with friends, and learn new things.</p>
                                    </div>
                                </div>
                                <div class="footer-imagia">
                                    <div class="social-imagia text-center"><a href="https://github.com/AryamanGupta1"><i class="fa fa-github"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="http://discordapp.com/users/724051405563887638"><i class="fab fa-discord"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card-container-imagia" data-tilt="data-tilt">
                        <div class="card-imagia">
                            <div name="body" id="bodyFront_5" style="background: #FFFFFF" class="front-imagia">
                                <div class="cover-imagia"><img alt="" src="https://unsplash.it/720/500?image=1067"></div>
                                <div class="user-imagia"><img src="{% static 'img/Aashish.png' %}"></div>
                                <div class="content-imagia">
                                    <h3 name="title" id="nameFront_5" style="color: #000000" class="name-imagia">Aashish Anantharaman</h3>
                                    <p name="title" id="roleFront_5" style="color: #000000" class="subtitle-imagia">Developer</p>
                                    <p name="text" id="roleDescFront_5" style="color: #000000" class="text-center">Contribution: <em>Search Page figma design, picking color schemes, error page, helped test search engines, initiated preparation for demos</em></p>
                                </div>
                            </div>
                            <div name="body" id="bodyBack_5" style="background: #FFFFFF" class="back-imagia">
                                <div class="content-imagia content-back-imagia">
                                    <div>
                                        <h3 name="title" id="titleBack_5" style="color: #000000" class="text-center">Biography</h3>
                                        <p name="text" id="descBack_5" style="color: #000000" class="text-center">Hi! My name is Aashish Anantharaman and I am a sophomore at Panther Creek High School. I am interested in computer science and AI. In my spare time, I play chess, watch TV, practice Taekwondo and hang out with friends!</p>
                                    </div>
                                </div>
                                <div class="footer-imagia">
                                    <div class="social-imagia text-center"><a href="https://github.com/ABlizzard07"><i class="fa fa-github"></i></a><a href="#"><i class="fa fa-instagram"></i></a><a href="http://discordapp.com/users/611195798176137275"><i class="fab fa-discord"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card-container-imagia" data-tilt="data-tilt">
                        <div class="card-imagia">
                            <div name="body" id="bodyFront_6" style="background: #FFFFFF" class="front-imagia">
                                <div class="cover-imagia cover-gradient"></div>
                                <div class="user-imagia"><img src="{% static 'img/Ishaan.png' %}"></div>
                                <div class="content-imagia">
                                    <h3 name="title" id="nameFront_6" style="color: #000000" class="name-imagia">Ishaan Variava</h3>
                                    <p name="title" id="roleFront_6" style="color: #000000" class="subtitle-imagia">Team Leader</p>
                                    <p name="text" id="roleDescFront_6" style="color: #000000" class="text-center">Mentor: <em>Tantum autem cuique tribuendum, primum quantum ipse efficere possis, deinde etiam quantum ille quem diligas atque adiuves. </em></p>
                                </div>
                            </div>
                            <div name="body" id="bodyBack_6" style="background: #FFFFFF" class="back-imagia">
                                <div class="content-imagia content-back-imagia">
                                    <div>
                                        <h3 name="title" id="titleBack_6" style="color: #000000" class="text-center">Biography</h3>
                                        <p name="text" id="descBack_6" style="color: #000000" class="text-center">Hi! I’m Ishaan. I’m a college freshman at RU who plans to major in CS. I love night time parties, and I’m always listening to music. I always try to respond quickly to any communications.</p>
                                    </div>
                                </div>
                                <div class="footer-imagia">
                                    <div class="social-imagia text-center"><a href="#"><i class="fa fa-github"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="http://discordapp.com/users/662429330940493824"><i class="fab fa-discord"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <a class="cd-top" href="#"> </a>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/behavior.js' %}"></script>
    <script src="{% static 'js/autotype.js' %}"></script>
    <script src="{% static 'js/formSubmisison.js' %}"></script>
    <script src="{% static 'js/Scroll-to-top.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="{% static 'js/bs-init.js' %}"></script>
    <script src="{% static 'js/settings.js' %}"></script>
    <script src="{% static 'js/cookies.js' %}"></script>
    <script src="{% static 'js/vanilla-tilt.js' %}"></script>
</body>
</html>
