<!--LOADING SCREEN-->

<!DOCTYPE html>
<html lang="en" style="background: #212529;">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Loading...</title>
    <link rel="icon" href="{% static 'img/ALA.png' %}">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'Bitter.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/Roboto.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/Roboto%20Slab.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/all.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/awesome.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/ion.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/override.css' %}">
    <link rel="stylesheet" href="{% static 'background.css' %}">
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
    <link rel="stylesheet" href="{% static 'icons.css' %}">
    <link rel="stylesheet" href="{% static 'responsive.css' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'rotate.css' %}">
    <link rel="stylesheet" href="{% static 'settings.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="{% static 'landing.css' %}">
    <link rel="stylesheet" href="{% static 'loading.css' %}">
    <link rel="stylesheet" href="{% static 'tilt.css' %}">
</head>

<body style="background: transparent;">
  <nav class="navbar navbar-dark navbar-expand-md bg-dark py-3 sticky-top" id="navbar" style="box-shadow: 0px 0px 7px 5px;margin-bottom: 0px;">
      <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon" style="background: transparent;"><img src="{% static 'img/ALA.png' %}" width="1002" height="1299" style="transform: scale(0.04);"></span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-5"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navcol-5">
              <ul class="navbar-nav ms-auto">
                  <li class="nav-item"><a class="nav-link active" href="/aboutUs" data-tilt="data-tilt">About Us</a></li>
              </ul><a class="btn btn-outline-primary ms-md-2" role="button" href="/search" data-tilt="data-tilt">Try Now</a>
          </div>
      </div>
  </nav>
    <div>
        <div class="d-xxl-flex justify-content-xxl-center align-items-xxl-center" id="box-1" style="background: linear-gradient(#3499ff, #3a3985);">
            <div class="contentText">
                <h1 style="margin-bottom: 55px;">Getting your page ready</h1>
                <section class="d-md-flex flex-row justify-content-md-center align-items-md-center">
                    <div class="wave"></div>
                    <div class="wave"></div>
                    <div class="wave"></div>
                    <div class="wave"></div>
                    <div class="wave"></div>
                    <div class="wave"></div>
                    <div class="wave"></div>
                    <div class="wave"></div>
                    <div class="wave"></div>
                    <div class="wave"></div>
                </section>
                <div class="d-md-flex d-lg-flex flex-row justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center">
                    <h1 style="margin-top: 55px;">Please wait</h1>
                    <h1 id="period" style="margin-top: 55px;">...</h1>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <script src="{% static 'behavior.js' %}"></script>
    <script src="{% static 'autotype.js' %}"></script>
    <script src="{% static 'formSubmisison.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="{% static 'bs-init.js' %}"></script>
    <script src="{% static 'loading.js' %}"></script>
    <script src="{% static 'vanilla-tilt.js' %}"></script>
</body>

</html>
